#btn-action {
  display: none;
  @media (min-width: 650px) {
    width: 11.6rem;
    height: 3.2rem;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    color: #0f0f0f;
    border-radius: 4px;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.6;
    }
  }
}
